body {	
	background-color: #0013af;
	color: white;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: white;
}


h1 {
	color:#4169E1;
	font-weight:lighter;
}

h1#titulo {
	text-decoration: underline;
}

p {
	color: red;
	font-size: 18px;
	color: rgb(238, 130, 238);
}

p#segundo {
	color: rgba(238, 130, 238, 0.7);
}

p#terceiro {
	color: rgba(238, 130, 238, 0.4);
}

a.menu {
	color: green;
}

a.ativo {
	font-weight:bolder;
}


ul#nav {
	margin: 0;
	padding: 0;
	text-align: center;
}

ul#nav li {
	display: inline-block;
	margin-right: -5px;
}

ul#nav li a {
	color: white;
	background-color: #00BFFF;
	padding: 10px;
	text-decoration: none;

	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

ul#nav li a:hover {
	background-color: red;
	font-size: 25px;
}


/* 
	Formulario
*/

#contato {

}

#contato .contato_input,
#contato textarea {
	width: 300px;
	border-radius: 15px;
	padding: 5px 15px;
	border: none;
	color: blue;
	font-family: sans-serif;
}
#contato .contato_input:hover,
#contato textarea:hover {
	background-color: lightgray;
}



#contato input[type=submit] {
	border:none;
	border-radius: 150px;
	background-color: green;
	color: white;
	padding: 8px 10px;
	height: 53px;
	margin-left: 250px;

}

#contato input[type=submit]:hover {
	background-color: yellow;
	color: green;
}